<!DOCTYPE html>
<html>

<head>
	<title>Edit Profile</title>
</head>

<body>
	<h2>Edit Profile</h2>

	<a href="/manager">Home</a>|
	<a href="/logout">Logout</a><br><br>
	<a href="/manager/profile/<%= user.username%>">Edit Profile</a><br>
	<a href="/manager/pendingCustomers">Pending Customer</a><br>
	<a href="/manager/pendingHouseowners">Pending Houseowners </a><br>
	<a href="/manager/view_Available">House to-let</a><br>
	<a href="/manager/view_Customers">Available customer</a><br>
	<a href="/manager/view_Owners">House Owners</a><br>
	<a href="/manager/view_Rented">Rented Apartments</a><br>

	<form method="post">
		<table border="1">
			<tr>
				<td>First Name: </td>
				<td><input type="text" name="fname" value="<%= user.fname %>" required></td>
			</tr>
			<tr>
				<td>Last Name: </td>
				<td> <input type="text" name="lname" value="<%= user.lname %>" required></td>
			</tr>
			<tr>
				<td>Prefered Username: </td>
				<td> <input type="text" name="uname" value="<%= user.username %>" required></td>
			</tr>
			<tr>
				<td>Father's name: </td>
				<td> <input type="text" name="fathersName" value="<%= user.fathersName%>" required></td>
			</tr>
			<tr>
				<td>Mail: </td>
				<td> <input type="text" name="email" value="<%= user.email %>" required></td>
			</tr>
			<tr>
				<td>Area: </td>
				<td> <input type="text" name="area" value="<%= user.area %>" readonly></td>
			</tr>
			<tr>
				<td>Phone No: </td>
				<td> <input type="text" name="nid" value="<%= user.phone %>" required></td>
			</tr>
			<tr>
				<td>National ID: </td>
				<td> <input type="text" name="lname" value="<%= user.nid %>" required></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td> <input type="password" name="password" value="<%= user.password %>" required></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td> <input type="password" name="cpassword" value="<%= user.password %>" required></td>
			</tr>
		</table>
		<input type="submit" name="" value="update">
	</form>
</body>

</html>