<!DOCTYPE html>
<html>

<head>
	<title>Available Apartments</title>
</head>

<body>
	<div>
		<h2>Available Apartments</h2>
	</div>

	<a href="/manager">Home</a>|
	<a href="/logout">Logout</a><br><br>
	<a href="/manager/profile">Edit Profile</a><br>
	<a href="/manager/pendingCustomers">Pending Customer</a><br>
	<a href="/manager/pendingHouseowners">Pending Houseowners </a><br>
	<a href="/manager/view_Available">House to-let</a><br>
	<a href="/manager/view_Customers">Available customer</a><br>
	<a href="/manager/view_Owners">House Owners</a><br>
	<a href="/manager/view_Rented">Rented Apartments</a><br>

	<table border="1">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Division</td>
			<td>Area</td>
			<td>Address</td>
			<td>Description</td>
			<td>size</td>
			<td>price</td>
			<td>review</td>
			<td>status</td>
		</tr>
		<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].houseid %></td>
			<td><%= userlist[i].housename %></td>
			<td><%= userlist[i].division %></td>
			<td><%= userlist[i].area %></td>
			<td><%= userlist[i].address %></td>
			<td><%= userlist[i].description %></td>
			<td><%= userlist[i].size %></td>
			<td><%= userlist[i].price %></td>
			<td><%= userlist[i].review %></td>
			<td><%= userlist[i].status %></td>
			<td>
				<a href="/manager/view_Available/<%= userlist[i].houseid %>">Delete </a>
			</td>
		</tr>
		<%  } %>
	</table>

</body>

</html>